{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

    {% block modal-header %}
        Security Question
    {% endblock %}

    {% block form_action %}{% url 'fiware_two_factor_sec_question' %}{% endblock %}
    
    {% block modal-body %}
        <p>Write down the answer to this question:</p>
        <p><b>{{ security_question }}</b></p>

        {% include "horizon/common/_form_fields.html" %}
    {% endblock %}

    {% block modal-footer %}
        <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
        <div class="actions">
            <a class="ajax-modal" href="{% url 'fiware_two_factor_forgot_answer' %}">
                Can't remember the answer?
            </a>
        </div>
    {% endblock %}


