{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "User" %}{% endblock %}

{% block page_header %}{% endblock page_header %}

{% block main %}
<div id="detailUser">
  <header>
    <h3 class="name">
      {{ user.username }} 
      {% if edit %}
      <a href="{% url 'horizon:idm:users:edit' user.id %}" class="small"><i class="fa fa-edit"></i><span>edit</span></a>
      {% endif %}
    </h3>
    <!--crear la carga de la imagen -->
    <div class="logo">
      <img alt="organization logo" src="{{ image }}">        
    </div>
  </header>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="description">
        <h5>
          Description
        </h5>
          <div class="info expander">
            {% if user.description %}
            <p>{{ user.description }}</p>
            {% else %}
            <p class="n-avail">No description available</p>
            {% endif %}
          </div>
      </div> 
      {% if user.website %}
      <div class="contact_us">
        <h5>
          Website
        </h5>
        <div class ="info">
          <p>{{ user.website }}</p>
        </div>
      </div>
      {% endif %}
		</div>
	</div>
    

  {{ organizations_table.render }}
    
  {{ applications_table.render}}
     
</div>
{% endblock %}
