<br>
<p style="font-size: 12px;">
  ---
  <br>
  You are receiving this message because you are a registered <a href="https://account.lab.fiware.org" style="color: #193B6B; text-decoration: none;" onMouseOver= "this.style.cssText= 'color: #48B9C9; text-decoration: none;'" onMouseOut= "this.style.cssText= 'color: #193B6B; text-decoration: none;'">FIWARE Lab user</a>. Should you wish to remove your account, you need to follow four simple steps: 
  <ol style="padding-left: 40px; font-size: 12px;">
    <li>Log on <a href="https://account.lab.fiware.org" style="color: #193B6B; text-decoration: none;" onMouseOver= "this.style.cssText= 'color: #48B9C9; text-decoration: none;'" onMouseOut= "this.style.cssText= 'color: #193B6B; text-decoration: none;'">FIWARE Lab user</a></li>
    <li>Click on the dropdown menu next to your user name (upper right corner)</li>
    <li>Select "Settings"</li>
    <li>Click on "Cancel account" and confirm.</li>
  </ol>
</p>